{% extends '::base.html.twig' %}

{% block body -%}
     {% include "HGREntityBundle:Store:menu-top.html.twig" %}

    <form action="{{ path('store_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset><legend>Store creation</legend>        
            {{ form_widget(form) }}            
            <p>
                <button type="submit">Create</button>
                <a class="btn" href="{{ path('store') }}">Cancel</a>
            </p>
        </fieldset>
    </form>
{% endblock %}
