<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="divider-vertical"></li>
          <li><a href="{{ path('category') }}">Catégories</a></li>
          <li class="divider-vertical"></li>
          <li><a href="{{ path('product') }}">Produits</a></li>
           <li class="divider-vertical"></li>
           <li><a href="{{ path('store') }}">Magasins</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Utilisateurs</a></li>
        </ul>
     </div>
</div>