{% extends '::base.html.twig' %}

{% block body -%}
{% include "HGRUserBundle:User:menu-top.html.twig" %}
    <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset><legend>User creation</legend>
        {{ form_widget(form) }}
              
        <p>
            <button type="submit">Create</button>
            <a class="btn" href="{{ path('user') }}">
            Cancel
             </a>
        </p>
        </fieldset>
    </form>
{% endblock %}
