<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Test{% endblock %}</title>
  </head>
  <body>
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}

    
    <div id="menu">
     {{ render(controller("HGRUserBundle:Default:index")) }}
    </div>
 
    {% block body %}
    {% endblock %}
 
    </body>
</html>