{% extends '::base.html.twig' %}

{% block body -%}
    {% include "HGREntityBundle:Category:menu-top.html.twig" %}
    <form class="form-horizontal" action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset><legend>Category creation</legend>        
            {{ form_widget(form) }}
            
            <p>
                <button type="submit">Create</button>
                <a class="btn" href="{{ path('category') }}">Cancel</a>
            </p>
        </fieldset>
    </form>
{% endblock %}
